.content .wrapper .line-one {
  background: color;
}
.content .wrapper .line-two {
  background: orange;
}
.content .wrapper-menu .logo {
  background: red;
  width: 120px;
  height: 60px;
  float: left;
}
.content .wrapper-menu .menu {
  background: pink;
  height: 40px;
  width: 100px;
}
